@import "tailwindcss";

@theme {
    --font-saira: "Saira", sans-serif;
    --font-saira-stencil: "Saira Stencil One", sans-serif;
    --font-gta: "Saira Stencil One", sans-serif;
    --cursor-my-crosshair: url("/crosshair.svg"), auto;
}